<!DOCTYPE html>
<html>
<head>
	<title>Labourers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" >
  
       <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABXrzOdYntmVFt7vHZPMHEtAnvZLr7N-s&libraries=places"
        ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
   <style type="">
        #map {
        height: 100%;
      }
   </style>
    <script type="text/javascript">

  function getLocation()
  {
     navigator.geolocation.getCurrentPosition(function(position){

     var location = document.getElementById("latitude");
     location.setAttribute('value', position.coords.latitude);
     var longi = document.getElementById("longitude");
     longi.setAttribute("value", position.coords.longitude);
     });
   }
  </script>

</head>
<body onload="getLocation()">
    <div id="map" class="ui container"></div>
	
  <script>
     function initMap(location) {
         directionsService = new google.maps.DirectionsService();
          directionsDisplay = new google.maps.DirectionsRenderer();
          var loc = new google.maps.LatLng(location.coords.latitude,location.coords.longitude);
        map = new google.maps.Map(document.getElementById('map'), {
          mapTypeControl: false,
          zoom: 7,
          center: loc,
          mapTypeId: 'terrain'
        });
        var marker = new google.maps.Marker({
          position: loc,
          map: map
        }); 
      
      }

   navigator.geolocation.getCurrentPosition(initMap);
   <%labReq.forEach(entry){%>
    var loc = new google.maps.LatLng(<%=entry.latitude%>,<%=entry.longitude%>);
       var marker = new google.maps.Marker({
          position: loc,
          map: map
        }); 
  <%}%>

    //console.log(v);
  
  </script>

<!-- FORM RENDERING, LABOUR REUIREMENTS!! -->
   <div class="ui fixed inverted menu">
            <div class="ui container">
                 <div class="header item"><a href="/"><i class="certificate icon"></i>KrishY</a></div>
               <a href="/buy.html" class="item"  style="float: right">Buy</a>
                <a href="/sell.html" class="item" style="float: right">Sell</a>
                <a href="/laborers.html" class="item" style="float: right">Find Laborers</a>
                <a href="/report" class="item" style="float: right">Report</a>
                <a href="/cropSustainability.html" class="item" style="float: right">Am I growing the right crop?</a>
                <a href="/chatTab.html" class="item"  style="float: right">Want to Chat?</a>
                <a href="/awareness.html" class="item" style="float: right">Awareness</a>
                
              </div></div>

              <h1 style="margin-top: 100px">Labourers Page</h1>
                <form action="/labor" method="POST">
                <label>
                  Email: <input type="text" name="email">
                </label>
                <label>
                  Number: <input type="text" name="number">
                </label>
                <label>

                 Latitude: <input id="latitude" type="text" name="latitude" value="">
                </label>
                <label>
                 Longitude: <input id="longitude" type="text" name="longitude" value="">


                </label>
            

                <button type="Submit">Submit</button>
              </form>
</body>
</html>